<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id = "employee" class = "com.anurag.Employee" >
   <property name="id" value="101"></property>
   <property name="name" value="Anurag"></property>
   <property name="salary" value="29000"></property>
   </bean>

 <bean id = "user" class = "com.anurag.User" >
 <constructor-arg value="Anurag" ></constructor-arg>
 <constructor-arg value="Lucknow"></constructor-arg>
</bean>
</beans>